#prize-flag {
  background-color: rgba(78, 56, 141, 0.5);
  position: fixed;
  z-index: 30;
  margin-left: -8px;
  padding: 5px 5px 1px 5px;
  border-radius: 0 10px 30px 0;
  display: none;
}
#prize-flag > p {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.6);
}
